################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiEfCorePagination/.vs/WebApiEfCorePagination/v17
